body {
    background-color: lightblue;
}

#piros {
    background-color: red;
    width: 150px;
}

#kek {
    background-color: blue;
    width: 75%;
}

#felsodoboz {
    background-color: lightgray;
    width: 50%;
}

#zold {
    background-color: green;
    width: 75vw;
    /* view width képrneyko hetven ö9t szaűzaléka */
}

#lila {
    background-color: purple;
    height: 100px;
}

#citrom {
    background-color: yellow;
    height: 20vh;
      /* view heightth képrneyko húsz ö9t szaűzaléka magarsága */
}

#szegely {
    background-color: orange;
    /* border-style: solid;
    border-width: 2.5px;
    border-color: red; */
    /* deshed dottold soli doupla */
    border: 2.5px solid red;
}

#vegyes {
    background-color: aqua;
}

#felsodoboz ~ div {
    width: 40%;
    height: 40px;
}

#kulso_margo {
    background-color: blue;
}

/* bordásdal gyakorlás */